html,
body {
  margin: 0;
  height: 100%;
  background: #151515;
  color: #ccc;
  font-family: system-ui, sans-serif;
}
.home-canvas {
  height: 100vh;
  overflow: hidden;
}
#pageWrap {
  position: relative;
  min-height: 100vh;
  transition: transform 0.35s ease, width 0.35s ease;
  z-index: 1;
}

#pageWrap.shifted {
  transform: translateX(260px);
  width: calc(100% - 260px);
}

/* canvas wrapper */
#pageWrap.home-canvas {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: transform 0.35s ease, width 0.35s ease;
}

#pageWrap.shifted {
  transform: translateX(260px);
  width: calc(100% - 260px);
}

/* homepage elements */
#centerWrap {
  position: relative;
  width: 100%;
  height: 100%;
}

#type-stage {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 140px;
}

.type-slide {
  color: #e6e6e2; /* off-white */

  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1.2s ease;
}

.type-slide.active {
  opacity: 1;
}

#moodline {
  position: absolute;
  top: 42%;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

#info-layer {
  position: absolute;
  bottom: 90px;
  width: 100%;
  text-align: center;
}

#track-title {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}

#nowplaying-label {
  font-size: 12px;
  color: #888;
}

/*---------------------
--------live icons------*/
#live-icons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  display: flex;
  gap: 24px;
}

#live-icons img {
  width: 28px;
  height: 28px;
  opacity: 0.25;
  transition: opacity 0.25s ease;
}

#live-icons img:hover {
  opacity: 0.8;
}
