<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/home.css" />
    <link rel="stylesheet" href="/assets/css/drawer.css" />
  </head>

  <body>
    {% include _drawer.html %}

    <button id="logoBtn" class="logo-btn">
      <img src="/assets/img/logos/studiorich-red.svg" />
    </button>

    <button id="drawerClose" class="drawer-close">&times;</button>

    <!-- ONLY thing that shifts -->
    <div id="pageWrap" class="home-canvas">{{ content }}</div>

    <script src="/assets/js/drawer.js"></script>
  </body>
</html>
